annotated-types==0.7.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
greenlet==3.2.2
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
playwright==1.52.0
pydantic==2.11.5
pydantic-core==2.33.2
pyee==13.0.0
pygments==2.19.1
python-dotenv==1.1.0
requests==2.32.3
rich==14.0.0
shellingham==1.5.4
typer==0.15.4
typing-extensions==4.13.2
typing-inspection==0.4.1
urllib3==2.4.0
